@media (max-width:991px) {
        /* custom classes  */
   .text-content{
    width: 100%;
   }
        /* navber design  */
    .navigation-warp .navbar-brand img{
        height: 3.8125rem;
    }
    .navigation-warp{
        text-align: center;
        background-color: var(--3rd-color);
    }
    .navigation-warp .nav-link{
        line-height: 1.875rem;
        color: var(--5th-color);
    }

        /* banner design  */
    .top-banner{
        padding: 9.375rem 0 9.375rem 0;
    }

        /* carousel design */
    .testimonial .carousel-caption p{
        padding: 0;
    }

        /* footer link design */
    .footer .footer-social a i{
        padding: 0 0.75rem;
    }
}


@media (max-width:767px) {
   /* custom classes  */
    h1{
        font-size: 2.8rem;
    }
    h2{
        font-size: 1.3rem;
        line-height: 28px;
    }
     /* banner design  */
   .top-banner{
    padding: 10.375rem 0 9.375rem 0;
}

   /* carousel design */
   .testimonial .carousel-item{
    padding: 11rem 3.125rem;
    }
}


@media (max-width:330px) {
   /* carousel design */
   .testimonial .carousel-item{
    padding: 13rem 3.125rem;
    }
}

